@font-face {
  font-family: "iconfont"; /* Project id 2668232 */
  src: url('//at.alicdn.com/t/font_2668232_hoyt1n4dgee.woff2?t=1626427167026') format('woff2'),
       url('//at.alicdn.com/t/font_2668232_hoyt1n4dgee.woff?t=1626427167026') format('woff'),
       url('//at.alicdn.com/t/font_2668232_hoyt1n4dgee.ttf?t=1626427167026') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32upx;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-delete:before {
  content: "\e638";
}

.icon-clear:before {
  content: "\e662";
}

.icon-close:before {
  content: "\e609";
}

.icon-shang:before {
  content: "\e610";
}

.icon-xia:before {
  content: "\e65a";
}
